<pre id="planet">       .          .
        .          .                  .          .     
           _____
  .      .-'.  ':'-.      .  
      .''::: .:    '.
 +   /   :::::'      \  +          .             +  
    ;.    ':' `       ;    .            .
    |       '..       |
    ; '      ::::.    ;
  .  \       '::::   /           .     +
      '.      :::  .'
        '-.___'_.-'
    .            +           .                .   + 
         +          .             +                
                .             .      .  
.   {{ planet_name }}   *
</pre>