<pre id="planet">
    .          .
    .          .                  .          .     
       /  - ''
.      .-'.  ':'-.      .  
  .''::: .:    '.
+   /   ,*:  ::'    \  +          .             +  
;.    ':' `      :     .            .
|       '..         /
; '   :   o        ;
.  \            ~           .     +
          .
    ' ._ / '_.-'
.            +           .                .   + 
     +          .             +                
            .             .      .       

    <button 
        hx-get="{% url 'planet' %}"
        hx-target="#planet"
    >Find new target</button>
</pre>
